
export master_key="replace_with_your_master_key"
export API_PUBLIC_HOSTS='{
    "local": "http://localhost:6011",
    "dev": "https://dev-api.va.gov/vanotify",
    "perf": "https://sandbox-api.va.gov/vanotify",
    "staging": "https://staging-api.va.gov/vanotify",
    "prod": "https://api.va.gov/vanotify"
}'
export USE_MOCK_API=true
